<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/_app/assets/pages/components/MainContent.svelte-7ab7a830.css">
	<link rel="stylesheet" href="/_app/assets/pages/components/Contact.svelte-c15653f1.css">
	<link rel="modulepreload" href="/_app/start-4e6d0027.js">
	<link rel="modulepreload" href="/_app/chunks/index-b6926417.js">
	<link rel="modulepreload" href="/_app/pages/__layout.svelte-c1a75809.js">
	<link rel="modulepreload" href="/_app/pages/components/MainContent.svelte-c6edb55c.js">
	<link rel="modulepreload" href="/_app/pages/components/Contact.svelte-cfcc02bf.js">
	</head>
	<body>
		<div>


<main><container class="main-content svelte-ajotis"><header class="svelte-ajotis">anthony gabriele</header>

	<div class="contact">

		<a href="mailto:anthony@anthonygabrieleactor.com" class="svelte-ajotis">anthony@anthonygabrieleactor.com</a>
		<p class="svelte-ajotis">(631) 743-0728</p>

		<a class="svelte-ajotis">reel</a> | <a class="svelte-ajotis">resume</a></div>
</container>
</main>


		<script type="module" data-sveltekit-hydrate="ji1eyi">
		import { start } from "/_app/start-4e6d0027.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="ji1eyi"]').parentNode,
			paths: {"base":"","assets":""},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [
					import("/_app/pages/__layout.svelte-c1a75809.js"),
						import("/_app/pages/components/MainContent.svelte-c6edb55c.js")
				],
				params: {},
				routeId: "components/MainContent"
			}
		});
	</script></div>
	</body>
</html>
